.company-container {
  margin-top: 20%;
  width: 100%;
  height: 35vh;
  display: flex;
  align-items: top;
  justify-content: center;
}

@keyframes animate {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

.loader {
  width: 7rem;
  height: 7rem;
}

.loader::after,
.loader::before {
  position: absolute;
  animation: animate 2s linear infinite;
  width: 7rem;
  height: 7rem;
  content: '';
  border: 0.25rem solid orange;
  border-radius: 50%;
}

.loader::after {
  opacity: 0;
  animation-delay: 1s;
}
